<section class="education">
  <div class="container">
    <h2 data-i18n="heading.education">Education</h2>
    <ul class="education-list" role="list">
      <li role="listitem">
        <div class="education-institution">
          <strong data-i18n="education.CSTU">Cherkassy State Technological University</strong>
        </div>
        <div class="education-specialty" data-i18n="education.master">Master's degree in Computer systems and networks</div>
        <div class="education-years">2016 - 2018</div>
      </li>
      <li role="listitem">
        <div class="education-institution">
          <strong data-i18n="education.CSTU">Cherkassy State Technological University</strong>
        </div>
        <div class="education-specialty" data-i18n="education.bachelor">Bachelor Computer systems and networks</div>
        <div class="education-years">2014 - 2016</div>
      </li>
      <li role="listitem">
        <div class="education-institution">
          <strong data-i18n="education.CSBC">Cherkasy State Business College</strong>
        </div>
        <div class="education-specialty" data-i18n="education.junior">
          Junior specialist computer engineering Maintenance of computer and intellectual systems
          and networks
        </div>
        <div class="education-years">1998 - 2002</div>
      </li>
    </ul>
  </div>
</section>
