<section class="section">
  <div class="container section-container">
    <div>
      <h2 class="section-head" data-i18n="heading.socialActivity">Volunteer activities</h2>
    </div>
    <div class="section-content">
      <p data-i18n="socialActivity.forum">
        Since 2023, I have been actively involved in communicating and sharing experiences with
        other web developers on one of the most popular online forums for programmers. I regularly
        solved various web development tasks related to html, css, javascript and other
        technologies, as well as advised and supported both beginners and experienced colleagues in
        the profession
      </p>
      <a class="hidden-in-pint" href="https://www.cyberforum.ru/members/628162.html" data-i18n="socialActivity.profileLink"
        >Profile link</a
      >
    </div>
  </div>
</section>
