.header {
 border-bottom: 1px solid color(border);
 padding-top: .5rem;
 padding-bottom: .5rem;
}

.header-container {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 1rem;
}

.header-actions {
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 2rem;
}

.header-nav {
 display: flex;
 gap: 1rem;
 font-size: theme(text-sm);
}

.header-nav a {
 color: color(foreground);
 text-decoration: none;
 padding: 0.3em 0.5em;

 &:hover {
  text-decoration: underline;
 }
}