html:not(.dark):not(.light) {
	.theme-button {
		.theme-light-icon {
			display: none;
		}
	}
}

.theme-button {
	border: none;	
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;	
	border-radius: theme(border-radius);    
	cursor: pointer;
	height:100%;
	&:hover {
		background-color: color(accent);
	}
}

.theme-button .icon{	
	align-items: center;
}

.theme-dark-icon{
	margin-top:1px;
}

.theme-button svg {
	display: block;
	color: color(accent-foreground);
	height: 100%;
  width: 100%;
}

.dark .theme-button {
	.theme-dark-icon {
		display: none;
	}
	.theme-light-icon {
		display: inline-flex;
	}
}

.light .theme-button {
	.theme-dark-icon {
		display: inline-flex;
	}
	.theme-light-icon {
		display: none;
	}
}
