html:not(.dark):not(.light) {
	.theme-button {
		.theme-light-icon {
			display: none;
		}
	}
}

.theme-button {
	border: none;
	border-radius: theme(border-radius);
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2em;
	cursor: pointer;
	&:hover {
		background-color: color(accent);
	}
}

.theme-button svg {
	display: block;
	color: color(accent-foreground);
}

.theme-light-icon {
	width: 1.4rem;
	height: 1.4rem;
}

.dark .theme-button {
	.theme-dark-icon {
		display: none;
	}
	.theme-light-icon {
		display: inline-block;
	}
}

.light .theme-button {
	.theme-dark-icon {
		display: inline-block;
	}
	.theme-light-icon {
		display: none;
	}
}
