<section class="section">
  <div class="container section-container">
    <div>
      <h2 class="section-head" data-i18n="heading.education">Education</h2>
    </div>
    <div class="section-content">
      <ul class="education-list list-clear">
        <li>
          <div class="education-institution">
            <strong data-i18n="education.CSTU">Cherkassy State Technological University</strong>
          </div>
          <div class="education-years">2016 - 2018</div>
          <div data-i18n="education.CEng">Computer Engineering</div>
          <div class="education-specialty" data-i18n="education.master">
            Master's degree in Computer systems and networks
          </div>
          <div data-i18n="education.CSTUExtra">
            Advanced: Web programming courses, participation in elective classes provided by the
            university during the course of study
          </div>
        </li>
        <li>
          <div class="education-institution">
            <strong data-i18n="education.CSTU">Cherkassy State Technological University</strong>
          </div>
          <div class="education-years">2014 - 2016</div>
          <div class="education-specialty" data-i18n="education.bachelor">
            Bachelor Computer systems and networks
          </div>
          
        </li>
        <li>
          <div class="education-institution">
            <strong data-i18n="education.CSBC">Cherkasy State Business College</strong>
            <div class="education-years">1998 - 2002</div>
          </div>
          <div class="education-specialty" data-i18n="education.junior">
            Junior specialist computer engineering Maintenance of computer and intellectual systems
            and networks
          </div>
          <div data-i18n="education.CSBCExtra">
            The training program included the study of Assembler and Delphi programming languages
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
