<header class="header">
  <div class="container header-container">
    <div></div>
    <nav class="header-nav">
      <a href="#" data-i18n="menu.aboutMe">About me</a>
      <a href="#" data-i18n="menu.myWorks">Works</a>
      <a href="#" data-i18n="menu.contacts">Contacts</a>
    </nav>

    <div class="header-actions">
      <div>
        <module href="/templates/components/lang-select.html"></module>
      </div>
      <div>
        <module href="/templates/components/theme-btn.html"></module>
      </div>
    </div>
  </div>
</header>
