<section class="section">
  <div class="container section-container">
    <div>
      <h2 class="section-head" data-i18n="heading.works">Work Experience</h2>
    </div>
    <div class="section-content">
      <ul class="works-list list-clear">
        <li class="works-item">
          <div>
            <h3>Фронтенд-разработчик — Фриланс</h3>
          </div>
          <div class="works-years">
            <i>2019-2022</i>
          </div>
          <div>
            <ul class="list-clear works-descriptions-list">
              <li>
                Создание лендингов, корпоративных сайтов и других веб-решений для бизнеса в команде
                по разработке веб-проектов на фрилансе
              </li>
              <li>Поддержка, дальнейшая разработка и решение задач в существующих проектах</li>
            </ul>
          </div>
          <div class="works-tech">
            <h3>Используемые технологии:</h3>
            <ul class="list-clear works-tech-list">
              <li>HTML/CSS/JS</li>
              <li>Gulp</li>
              <li>SASS</li>
              <li>WordPress</li>
              <li>Python (Django)</li>
            </ul>
          </div>
        </li>
        <li class="works-item">
          <div>
            <h3>
              Фронтенд-разработчик — digital–агентство Only (<a href="https://only.digital"
                >https://only.digital</a
              >)
            </h3>
          </div>
          <div class="works-years">
            <i>2018-2022</i>
          </div>
          <div>
            <ul class="list-clear works-descriptions-list">
              <li>
                Участие в разработке интерпрайз проектов, учитывая бизнес-требования, для
                обесппечения их функциональности и эффективности.
              </li>
              <li>Поддержка и дальнейшая разработка легаси-проектов.</li>
              <li>
                Активное участие в совещаниях и обсуждениях требований к проектам. Сотрудничество с
                другими членами команды, включая дизайнеров, бэкенд-разработчиков и менеджеров
                проектов, для решения задач.
              </li>
              <li>
                В нескольких проектах самостоятельно руководил разработкой фронтенда, принимал
                решения о структуре ПЕРЕПИСАТЬ
              </li>
            </ul>
          </div>
          <div class="works-tech">
            <h3>Используемые технологии:</h3>
            <ul class="list-clear works-tech-list">
              <li>HTML/CSS/JS</li>
              <li>React</li>
              <li>TypeScript</li>
              <li>MobX</li>
              <li>Ant Design</li>
              <li>Styled Components</li>
              <li>Vue</li>
              <li>jQuery</li>
            </ul>
          </div>
        </li>
        <li class="works-item">
          <div>
            <h3>Фронтенд-разработчик — Фриланс (для клиента в сфере дропшипинга)</h3>
          </div>
          <div>
            <i>2023-2024</i>
          </div>
          <div>
            <ul class="list-clear works-descriptions-list">
              <li>Разработка лендингов-одностраничников для продуктов в сфере дропшипинга</li>
              <li>Создание системы сайтов на поддоменах с единой административной панелью</li>
            </ul>
          </div>
          <div class="works-tech">
            <h3>Используемые технологии:</h3>
            <ul class="list-clear works-tech-list">
              <li>HTML/CSS/JS</li>
              <li>Parcel</li>
              <li>React</li>
              <li>TypeScript</li>
              <li>PHP</li>
              <li>Laravel</li>
              <li>Inertia</li>
              <li>Tailwind</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
