$theme: (
  text-xs: 0.75rem,
  text-sm: 0.875rem,
  text-base: 1rem,
  text-lg: 1.125rem,
  text-xl: 1.25rem,
  
  border-radius: 0.1rem,
  container-xl: 1140px,
  
  breakpoint-sm: 576px,
  breakpoint-md: 768px,
  breakpoint-lg: 992px,
  breakpoint-xl: 1200px,
  breakpoint-xxl: 1400px,
);

:root {
  @each $name, $item in $theme {
    --#{$name}: #{$item};
  }
}

@function theme($item) {
  @return var(--#{$item});
}