<div class="txs-select" id="select">
  <div class="txs-select-selector" tabindex="0" role="button" tabindex="0">   
    <div class="txs-select-value" data-value="en_US" aria-live="polite" aria-atomic="true">En</div>
    <div class="txs-select-arrow">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-chevron-down"
      >
        <path d="m6 9 6 6 6-6" />
      </svg>
    </div>
  </div>

  <div class="txs-select-options">
    <div class="txs-select-option" data-value="en-US" aria-hidden="true">En</div>
    <div class="txs-select-option" data-value="ua-UA" aria-hidden="true">Ua</div>
    <div class="txs-select-option" data-value="ru-RU" aria-hidden="true">Ru</div>
  </div>
</div>
